### 두 번째 모델 만들기

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [20]:
medal = pd.read_csv("medal2.csv")
medal.head(20)

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total,Team/NOC_lbl
0,1,United States of America,39,41,33,113,1,90
1,2,People's Republic of China,38,32,18,88,2,64
2,3,Japan,27,14,17,58,5,45
3,4,Great Britain,22,21,22,65,4,33
4,5,ROC,20,28,23,71,3,70
5,6,Australia,17,7,22,46,6,2
6,7,Netherlands,10,12,14,36,9,59
7,8,France,10,12,11,33,10,29
8,9,Germany,10,11,16,37,8,31
9,10,Italy,10,10,20,40,7,43
10,11,Canada,7,6,11,24,11,14
11,12,Brazil,7,6,8,21,12,11
12,13,New Zealand,7,6,7,20,13,60
13,14,Cuba,7,3,5,15,18,18
14,15,Hungary,6,7,7,20,13,37
15,16,Republic of Korea,6,4,10,20,13,71
16,17,Poland,4,5,5,14,19,66
17,18,Czech Republic,4,4,3,11,23,19
18,19,Kenya,4,4,2,10,25,48
19,20,Norway,4,2,2,8,29,63

### 데이터 나누기

In [28]:
sel = ['Gold','Silver','Bronze']
X = medal[sel]
y = medal['Team/NOC_lbl']

X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size = 0.1,
                                                   random_state = 0)

In [37]:
from sklearn.neighbors import KNeighborsClassifier
import xgboost as xgb
import numpy as np
model = KNeighborsClassifier()
model.fit(X_train, y_train)

### 정보입력받음

In [30]:
print("금,은,동메달의 개수를 입력하세요")
a, b, c = input().split()
inp_value = [a,b,c]

금,은,동메달의 개수를 입력하세요
0 0 1

In [31]:
pred = model.predict([inp_value])
pred[0]

C:\Users\hingu\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

10

### loc를 통해 해당 출력받은 데이터와 일치하는 나라명 출력

In [32]:
sel_medal = medal.loc[medal['Team/NOC_lbl'] == pred[0], "Team/NOC"]
print("예측 나라는 :", sel_medal.values)

예측 나라는 : ['Botswana']

In [33]:
print("학습용 데이터 세트 점수 : {:.2f}".format(model.score(X_train, y_train)))
print("테스트 데이터 세트 점수 : {:.2f}".format(model.score(X_test, y_test)))

학습용 데이터 세트 점수 : 0.14
테스트 데이터 세트 점수 : 0.00

### xgb모델을 통한 성능 개선

In [38]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', 
                colsample_bytree = 0.3, 
                learning_rate = 0.1,
                max_depth = 3, 
                alpha = 0.1, n_estimators = 1000)

In [39]:
xg_reg.fit(X_train, y_train)

[13:25:29] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=0.1, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=1000, n_jobs=8,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, reg_alpha=0.100000001, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [40]:
print("금,은,동메달의 개수를 입력하세요")
a, b, c = input().split()
inp_value = [a,b,c]

금,은,동메달의 개수를 입력하세요
39 41 33

In [43]:
print("학습용 데이터 세트 점수 : {:.2f}".format(xg_reg.score(X_train, y_train)))

학습용 데이터 세트 점수 : 0.40