## 데이터 라벨링
* 팀명(범주형) 데이터를 팀명라벨링(수치형)데이터로 변경

### 모듈 불러옴

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

### 데이터 불러옴

In [2]:
athlete = pd.read_excel("Athletes.xlsx")
gender = pd.read_excel('EntriesGender.xlsx')
medal = pd.read_excel('Medals.xlsx')

athlete.shape, gender.shape, medal.shape

C:\Users\hingu\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

((11085, 3), (46, 4), (93, 7))

In [3]:
athlete.columns

Index(['Name', 'NOC', 'Discipline'], dtype='object')

In [4]:
medal.columns

Index(['Rank', 'Team/NOC', 'Gold', 'Silver', 'Bronze', 'Total',
       'Rank by Total'],
      dtype='object')

### 팀명 라벨링

In [5]:
ex_x = LabelEncoder()
medal['Team/NOC_lbl'] = ex_x.fit_transform(medal['Team/NOC'])
medal

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total,Team/NOC_lbl
0,1,United States of America,39,41,33,113,1,90
1,2,People's Republic of China,38,32,18,88,2,64
2,3,Japan,27,14,17,58,5,45
3,4,Great Britain,22,21,22,65,4,33
4,5,ROC,20,28,23,71,3,70
...,...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77,32
89,86,Grenada,0,0,1,1,77,35
90,86,Kuwait,0,0,1,1,77,50
91,86,Republic of Moldova,0,0,1,1,77,72
92,86,Syrian Arab Republic,0,0,1,1,77,83

### csv파일로 저장

In [6]:
medal.to_csv("medal2.csv", index=False)