In [2]:
import pandas as pd

In [3]:
corona = pd.read_csv('corona.csv')
bit = pd.read_csv('bit.csv')

In [6]:
corona.shape, bit.shape

((590, 3), (590, 2))

In [8]:
corona.info(), bit.info()
corona.head(), bit.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  590 non-null    int64
 1   일자          590 non-null    object
 2   계(명)        590 non-null    int64
dtypes: int64(2), object(1)
memory usage: 14.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    590 non-null    object
 1   close   590 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.3+ KB

(   Unnamed: 0          일자  계(명)
 0           0  2020-01-20     1
 1           1  2020-01-21     0
 2           2  2020-01-22     0
 3           3  2020-01-23     0
 4           4  2020-01-24     1,
          time      close
 0  2020-01-20  9884000.0
 1  2020-01-21  9878000.0
 2  2020-01-22  9887000.0
 3  2020-01-23  9661000.0
 4  2020-01-24  9830000.0)

In [26]:
dat_all = bit.merge(corona, left_on='time', right_on='일자')
dat_all.head()

         time      close  Unnamed: 0          일자  계(명)
0  2020-01-20  9884000.0           0  2020-01-20     1
1  2020-01-21  9878000.0           1  2020-01-21     0
2  2020-01-22  9887000.0           2  2020-01-22     0
3  2020-01-23  9661000.0           3  2020-01-23     0
4  2020-01-24  9830000.0           4  2020-01-24     1

In [28]:
dat_all['인원'] = dat_all['계(명)']

In [29]:
dat_all = dat_all[['time','close','인원']]

In [30]:
dat_all

           time       close    인원
0    2020-01-20   9884000.0     1
1    2020-01-21   9878000.0     0
2    2020-01-22   9887000.0     0
3    2020-01-23   9661000.0     0
4    2020-01-24   9830000.0     1
..          ...         ...   ...
585  2021-08-27  56566000.0  1837
586  2021-08-28  56988000.0  1791
587  2021-08-29  56792000.0  1619
588  2021-08-30  56353000.0  1485
589  2021-08-31  55324000.0  1370

[590 rows x 3 columns]

In [34]:
dat_all['close'].astype('int')

0       9884000
1       9878000
2       9887000
3       9661000
4       9830000
         ...
585    56566000
586    56988000
587    56792000
588    56353000
589    55324000
Name: close, Length: 590, dtype: int64

In [35]:
dat_all

           time       close    인원
0    2020-01-20   9884000.0     1
1    2020-01-21   9878000.0     0
2    2020-01-22   9887000.0     0
3    2020-01-23   9661000.0     0
4    2020-01-24   9830000.0     1
..          ...         ...   ...
585  2021-08-27  56566000.0  1837
586  2021-08-28  56988000.0  1791
587  2021-08-29  56792000.0  1619
588  2021-08-30  56353000.0  1485
589  2021-08-31  55324000.0  1370

[590 rows x 3 columns]

In [36]:
corr = dat_all[['close','인원']].corr()
corr

          close        인원
close  1.000000  0.590204
인원     0.590204  1.000000